body{background-image: url("images/main.jpg");
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: "DejaVu Sans Mono", monospace;}

#main-header h1{
    margin:auto;
    vertical-align:middle;
}

header{
    width: 100vw;
}


#side-all-zones{
    max-width: 13%;
}

#side-all-zones span{
    color:white;
    font-size: 22px;
}

#side-all-zones span:hover{
    color: #066b31;
    cursor: pointer;
}

#side-all-zones span:before{
    padding-right: 1vw;
    vertical-align: middle;
    content: url("images/home32.png");
}

#list-zones {
    padding-bottom: 2vh;
    padding-top: 1.5vh;
    scrollbar-color: #1e6926 #212529;
    transition: scrollbar-color 0.1s ease-out;
    overflow: auto;
    max-height: 84vh;
}

#fullWindow{
    width: 100vw;
}

.zone{
    white-space: nowrap;
    width: 90%;
    margin-top: 1.3vh;
    margin-left: 5%;
    overflow: hidden;
}

#side-all-zones{
    margin-left: 2vw;
    margin-top: 2vh;
    border-radius: 20px;
    max-width: 20vw;
}

#objectSettingsDiv{
    margin-top: 3vh;
    margin-left: 3vw;
    width:78vw;
    max-height: 70vh;
    background-color: #212529;
    border-radius: 20px;
}