html{
    width: 100%;
    height: 100%;
}

body{background-image: url("../images/main.jpg");
    min-height: 100%;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: "DejaVu Sans Mono", monospace;}

#main-header h1{
    margin:auto;
    vertical-align:middle;
    font-size: xx-large;
}

#main-header{
    font-size: 100%;
}

header{
    width: 100%;
    height: 7%;
    display: grid;
}

#headerButton{
    font-size: 120%;
    height: 65%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1%;
    display: flex;
}

.row{
    padding-top: 2%;
    justify-content: space-around;
}

.mode-char{
    vertical-align: middle;
    display: inline-block;
    font-size: x-large;
    color: #cf191e;
}

.col-side-all-zones{
    background: linear-gradient(45deg, black, transparent);
    border-radius: 5%;
    width: 30%;
    font-size: 130%;
    border: thin solid;
    border-color: #0d6efd ;
}


#side-all-zone span:before{
    padding-right: 1dvw;
    vertical-align: middle;
    content: url("../images/home32.png");
}


.param-setting{
    margin-top: 1%;
    margin-bottom: 1%;
}

.name-param{
    color:#dbdfea;
    width: 73%;

    display: inline-block;
}

#paramSettings{
    overflow: auto;
    text-align: center;
    font-size: 120%;
    background-color: #9dd2fffa;
    padding: 0.3%;
    width: 25%;
    position: absolute;
    box-shadow: inset -1px 1px 53px 4px rgb(88 59 59 / 75%);
}


#paramSettingsWithoutMode{
    overflow: auto;
    text-align: center;
    font-size: 120%;
    background-color: #9dd2fffa;
    padding: 0.3%;
    width: 25%;
    position: absolute;
    box-shadow: inset -1px 1px 53px 4px rgb(88 59 59 / 75%);
}

#updateParamBtn:hover{

    background-color: #494749;

}

#windowUsersSettings{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: linear-gradient(8deg, black, #464444fc);
    border-radius: 3%;
    border: thin solid;
    border-color: #0d6efd ;
}

#btnOpenWindowSettignsUser{
    color: black;
    margin-left: 2%;
    border-radius: 4%;
    height: 100%;
    border: thin;
    background: #fffcfc;
}

#updateParamBtn{
    color: #d9eff5;
    width: 77%;
    border-style: none;
    background-color: #313031;
    border-bottom-style: solid;
    border-radius: 5px;
    border-width: inherit;
}

#btnWithIcon{
    width: 45%;
    height: auto;
    margin-left: 2%;
    margin-right: 2%;
    border-style: unset;
    background: rgba(0, 0, 0, 0);
}

#tableContainer{
    overflow: auto;
    height: auto;
    max-height: 80%;
    width: 90%;
    margin: auto;
    font-size: 150%;

}

#imgForBtn{
    width: 115%;
    height: auto;
}

#windowUserCreate{

    text-align: center;
    font-size: 140%;
    color: #000000;
    border: 0.2dvh solid;
    border-radius: 3%;
    width: 22%;
    height: auto;
    padding: 0.5%;
    background: linear-gradient(8deg, black, #8c8ee4fc);
    position: absolute;
    top: 15%;
    left: 15%;
}

.form-control{
    font-size: 70%;
}

.form-select{
    font-size: 70%;
}

#windowUserChange{
    font-size: 110%;
    color: #000000;
    border: 0.2dvh solid;
    border-radius: 3%;
    width: 40%;
    height: auto;
    padding: 0.5%;
    background: linear-gradient(8deg, black, #8c8ee4fc);
    position: absolute;
    top: 15%;
    left: 15%;
}

#formLogout{

}

#inputLogout{
    height: 100%;
    color: black;
    margin-right: 1%;
    border-radius: 4%;
    border: thin;
    background: #fffcfc;
}

#divBtnUserChange{
    display: flex;
    padding: 2%;
    width: 100%;
    margin: auto;
    font-size: 80%;
    justify-content: space-evenly;
}

#divNameUser{
    display: flex;
    padding: 2%;
}

#spanUser{
    display: flex;
    align-items: center;
    width: 50%;
}

#divPasswordUser{
    display: flex;
    padding: 2%;
}

#divRoleUser{
    display: flex;
    padding: 2%;
}

#btnsWindowUser{
    border-radius: 4%;
    border-style: none;
    width: 47%;
    margin-left: 2%;
    background: white;
    color: black;
    text-align: center;
}

#btnsWindowUserChange{
    border-style: none;
    border-radius: 4%;
    background: white;
    color: black;
    text-align: center;
}

#divBtnUser{
    padding: 2%;
    width: 90%;
    margin: auto;
}


#thId{
    width: 15%;
}

#thUsername{
    width: 35%;
}

#thRole{
    width: 30%;
}

#thComand{
    width: 10%;
}

#userTable{
    color: white;
    border-color: #7385ff;
}

#paramName{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    font-size: 80%;
}

#headerForWindow{
    height: 8%;
    display: flex;
    margin: auto;
}

#openWindowNewUserBtn{
    border-style: unset;
    font-size: 120%;
    background: #fffffffc;
    color: black;
    margin-left: 2%;
    margin-top: 0.5%;
    width: 20%;
    height: 70%;
    border-radius: 4%;
}

.header{
    display: flex;
    width: 100%;
}


#close-btn:hover{
    color: #fd0007;
}

#close-btn{
    color: #ca2a2a;
    font-size: 150%;
    border-style: none;
    background-color: rgba(212,39,39,0);
}

#close-btn-for-usersSetting{
    color: #cf191e;
    font-size: 180%;
    margin-left: auto;
    border-style: none;
    background-color: rgba(212,39,39,0);
}

.window-param:hover{
    background: white;
    color: black;
    cursor: pointer;
}

#textMode{
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#formSelect{
    width: 40%;
    display: flex;
    justify-content: center;
    background-size: 15%;
}
.mode{
    display: flex;
    margin-bottom: 5px;
}

#inputTask{
    width: 40%;
    display: flex;
    justify-content: center;
    text-align: center;
}

#inputTaskLow{
    width: 40%;
    display: flex;
    justify-content: center;
    text-align: center;
}

#inputTaskHigh{
    width: 40%;
    display: flex;
    justify-content: center;
    text-align: center;
}


#errorSpan{
    color: #cf191e;
    text-align: center;
}


#textTask{
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.task{
    display: flex;
    margin-bottom: 5px;
}

#okBtn{
    margin-top: 7px;
    width: 80%;
}
.window-param{

    color:white;
    width: 19%;
    display: inline-block;
    text-align: center;
    background: black;
    border-radius: 10%;
    border-style: solid;
    border-color: navy;
    border-width: thin;
}


#list-zones {
    padding-bottom: 2dvh;
    padding-top: 1.5dvh;
    scrollbar-color: #1e6926 #212529;
    transition: scrollbar-color 0.1s ease-out;
    overflow: auto;
    max-height: 84vh;
}

#fullWindow{
    width: 100dvw;
    margin: auto;
}

.zone{
    white-space: nowrap;
    width: 90%;
    margin-top: 1.3dvh;
    margin-left: 5%;
    overflow: hidden;
}


#objectSettingsDiv{
    margin-top: 3dvh;
    margin-left: 3dvw;
    width:78dvw;
    max-height: 70dvh;
    background-color: #212529;
    border-radius: 20px;
}


/* Медиа-запрос для мобильных устройств (ширина экрана до 768px) */
@media (max-width: 768px) {

    body{
        width: 100%;
        height: 100%;
    }

    .mode-char{
        font-size: large;
    }

    .col-side-all-zones{
        background: linear-gradient(45deg, black, transparent);
        border-radius: 5%;
        width: 90%;
        margin-top: 2%;
        font-size: 75%;
        border: thin solid;
        border-color: #0d6efd ;
    }

    #windowUserChange{
        width: 90%;
        font-size: 130%;
    }

    #windowUserCreate{
        width: 80%;
    }

    #windowUsersSettings{
        width: 90%;
        left: 5%;
        height: 80%;
    }

    #paramSettings{
        overflow: auto;
        text-align: center;
        font-size: 150%;
        background-color: #9dd2fffa;
        padding: 0.3%;
        width: 70%;
        position: absolute;
        box-shadow: inset -1px 1px 53px 4px rgb(88 59 59 / 75%);
    }

    #paramSettingsWithoutMode{
        overflow: auto;
        text-align: center;
        font-size: 150%;
        background-color: #9dd2fffa;
        padding: 0.3%;
        width: 70%;
        position: absolute;
        box-shadow: inset -1px 1px 53px 4px rgb(88 59 59 / 75%);
    }

    #main-header h1 {
        margin: auto;
        vertical-align: middle;
        font-size: large;
    }

    #tableContainer{
        width: 90%;
        font-size: 90%;
    }

    #divBtnUserChange{
        padding: 1%;
        font-size: 50%;
    }

    #divBtnUser{
        width: 100%;
    }

    #btnWithIcon{
        width: 45%;
        height: auto;
        margin-left: 2%;
        margin-right: 2%;
        border-style: unset;
        background: rgba(0, 0, 0, 0);
    }

    #imgForBtn{
        width: 200%;
        height: auto;
    }

    #openWindowNewUserBtn{
        border-style: unset;
        border-radius: 4%;
        background: #fffffffc;
        margin-top: 1.5%;
        font-size: 100%;
        margin-left: 5%;
        width: 70%;
    }

    #headerButton{
        color: black;
        font-size: 60%;
        height: 40%;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 1%;
        display: flex;
    }

    #headerForWindow{
        display: flex;
        margin-bottom: 2%;
        margin-top: 1%;
        align-items: center;
    }

    header{
        height: 8%;
    }

}