<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link th:href="@{/style/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/style/main.css}" rel="stylesheet" />
</head>
<body>
<header class="bg-dark text-white">
    <div class="d-flex flex-wrap   justify-content-lg-start" id="main-header">
        <h1>Управление теплицей</h1>
        <div id="headerButton">
            <form id = "formLogout" th:action="@{/logout}" method="post">
                <input id = "inputLogout" type="submit" value="Выход"/>
            </form></div>
    </div>
</header>

<div class="row" id="fullWindowOne">
    <aside class="col-side-all-zones">
        <div class="name-param">
            <span class="text-center"> Зона выращивания 1</span>
        </div>

        <div class="param-setting">
            <div class="name-param">
                <span class="text-center"> Температура почвы</span>
            </div>
            <div class="window-param" onclick="openParamSettings(this,'Температура почвы')">
                <span  id = "temperatureSoilRealOne" class="text-center">20.0Т</span>
            </div>
            <div class="mode-char">
                <span id = "modeTempSoilOne" class="text-center">А</span>
            </div>
        </div>

        <div class="param-setting">
            <div class="name-param">
                <span class="text-center"> Мощность обогрева почвы</span>
            </div>
            <div class="window-param" onclick="openParamSettingsWithoutModeNumber(this,'Мощность обогрева')">
                <span id = "powerHeatingMatRealOne" class="text-center">20.0%</span>
            </div>
        </div>
        <br>

        <div class="param-setting">
            <div class="name-param">
                <span class="text-center"> Влажность почвы</span>
            </div>
            <div class="window-param" onclick="openParamSettingsWithLowHigh(this,'Влажность почвы')">
                <span id = "humiditySoilRealOne" class="text-center">20.0Т</span>
            </div>
            <div class="mode-char">
                <span id = "modeHumiditySoilOne" class="text-center">А</span>
            </div>
        </div>

        <div class="param-setting">
            <div class="name-param">
                <span class="text-center">Клапан на полив</span>
            </div>
            <div class="window-param" onclick="openParamSettingsWithoutModeText(this,'Клапан на полив')">
                <span id = "workStatusFlapHumiditySoilRealOne"  class="text-center">ВКЛ</span>
            </div>
        </div>
        <div class="param-setting">
            <div class="name-param">
                <span class="text-center">Насос на полив</span>
            </div>
            <div class="window-param" onclick="openParamSettingsWithoutModeText(this,'Насос на полив')">
                <span id = "workStatusPumpHumiditySoilRealOne"  class="text-center">Раб</span>
            </div>
        </div>
    </aside>

    <aside class="col-side-all-zones">
        <div class="name-param">
            <span class="text-center"> Зона выращивания 2</span>
        </div>

        <div class="param-setting">
            <div class="name-param">
                <span class="text-center"> Температура почвы</span>
            </div>
            <div class="window-param" onclick="openParamSettings(this,'Температура почвы')">
                <span  id = "temperatureSoilRealTwo" class="text-center">20.0Т</span>
            </div>
            <div class="mode-char">
                <span id = "modeTempSoilTwo" class="text-center">А</span>
            </div>
        </div>

        <div class="param-setting">
            <div class="name-param">
                <span class="text-center"> Мощность обогрева почвы</span>
            </div>
            <div class="window-param" onclick="openParamSettingsWithoutModeNumber(this,'Мощность обогрева')">
                <span id = "powerHeatingMatRealTwo" class="text-center">20.0%</span>
            </div>
        </div>
        <br>

        <div class="param-setting">
            <div class="name-param">
                <span class="text-center"> Влажность почвы</span>
            </div>
            <div class="window-param" onclick="openParamSettingsWithLowHigh(this,'Влажность почвы')">
                <span id = "humiditySoilRealTwo" class="text-center">20.0%</span>
            </div>
            <div class="mode-char">
                <span id = "modeHumiditySoilTwo" class="text-center">А</span>
            </div>
        </div>

        <div class="param-setting">
            <div class="name-param">
                <span class="text-center">Клапан на полив</span>
            </div>
            <div class="window-param" onclick="openParamSettingsWithoutModeText(this,'Клапан на полив')">
                <span id = "workStatusFlapHumiditySoilRealTwo"  class="text-center">ВКЛ</span>
            </div>
        </div>
        <div class="param-setting">
            <div class="name-param">
                <span class="text-center">Насос на полив</span>
            </div>
            <div class="window-param" onclick="openParamSettingsWithoutModeText(this,'Насос на полив')">
                <span id = "workStatusPumpHumiditySoilRealTwo"  class="text-center">Раб</span>
            </div>
        </div>
    </aside>

    <aside class="col-side-all-zones">
        <div class="name-param">
            <span class="text-center"> Зона выращивания 3</span>
        </div>

        <div class="param-setting">
            <div class="name-param">
                <span class="text-center"> Температура почвы</span>
            </div>
            <div class="window-param" onclick="openParamSettings(this,'Температура почвы')">
                <span  id = "temperatureSoilRealThree" class="text-center">20.0%</span>
            </div>
            <div class="mode-char">
                <span id = "modeTempSoilThree" class="text-center">А</span>
            </div>
        </div>

        <div class="param-setting">
            <div class="name-param">
                <span class="text-center"> Мощность обогрева почвы</span>
            </div>
            <div class="window-param" onclick="openParamSettingsWithoutModeNumber(this,'Мощность обогрева')">
                <span id = "powerHeatingMatRealThree" class="text-center">20.0%</span>
            </div>
        </div>
        <br>

        <div class="param-setting">
            <div class="name-param">
                <span class="text-center"> Влажность почвы</span>
            </div>
            <div class="window-param" onclick="openParamSettingsWithLowHigh(this,'Влажность почвы')">
                <span id = "humiditySoilRealThree" class="text-center">20.0Т</span>
            </div>
            <div class="mode-char">
                <span id = "modeHumiditySoilThree" class="text-center">А</span>
            </div>
        </div>

        <div class="param-setting">
            <div class="name-param">
                <span class="text-center">Клапан на полив</span>
            </div>
            <div class="window-param" onclick="openParamSettingsWithoutModeText(this,'Клапан на полив')">
                <span id = "workStatusFlapHumiditySoilRealThree"  class="text-center">ВКЛ</span>
            </div>
        </div>
        <div class="param-setting">
            <div class="name-param">
                <span class="text-center">Насос на полив</span>
            </div>
            <div class="window-param" onclick="openParamSettingsWithoutModeText(this,'Насос на полив')">
                <span id = "workStatusPumpHumiditySoilRealThree"  class="text-center">Раб</span>
            </div>
        </div>
    </aside>
</div>

<div class="row" id="fullWindowTwo">
    <aside class="col-side-all-zones">
        <div class="param-setting">
            <div class="name-param">
                <span class="text-center"> Температура воздуха</span>
            </div>
            <div class="window-param" onclick="openParamSettings(this,'Температура воздуха')">
                <span  id = "temperatureAirReal" class="text-center">20.0Т</span>
            </div>
            <div class="mode-char">
                <span id = "modeTempAir" class="text-center">А</span>
            </div>
        </div>

        <div class="param-setting">
            <div class="name-param">
                <span class="text-center">Мощность обегрева помещения</span>
            </div>
            <div class="window-param" onclick="openParamSettingsWithoutModeNumber(this,'Мощность обогрева помещения')">
                <span id = "powerTempAirReal" class="text-center">20.0%</span>
            </div>
        </div>
        <div class="param-setting">
            <div class="name-param">
                <span  class="text-center" >Температура на улице</span>
            </div>
            <div class="window-param-no-click">
                <span id="temperatureAirStreetReal" class="text-center">20.5Т</span>
            </div>
        </div>

        <br>
        <div class="param-setting">
            <div class="name-param">
                <span class="text-center" >Мощность приточного ветилятора</span>
            </div>
            <div class="window-param" onclick="openParamSettings(this,'Мощность приточного ветилятора')">
                <span id="powerVentilatorInReal" class="text-center">20.5%</span>
            </div>
            <div class="mode-char">
                <span id = "modeVentilation" class="text-center">А</span>
            </div>
        </div>
        <div class="param-setting">
            <div class="name-param">
                <span class="text-center" >Положение вытяжных клапанов</span>
            </div>
            <div class="window-param" onclick="openParamSettingsWithoutModeNumber(this,'Положение вытяжных клапанов')">
                <span id="powerFlapOutReal"  class="text-center">20.5%</span>
            </div>
        </div>

    </aside>
    <aside class="col-side-all-zones">
    <div class="param-setting">
        <div class="name-param">
            <span  class="text-center" > Уровень бака полива</span>
        </div>
        <div class="window-param-no-click">
            <span id="waterTankLevelHumiditySoilReal" class="text-center">20.5%</span>
        </div>
    </div>
    <br>
    <div class="param-setting">
        <div class="name-param">
            <span class="text-center" > Влажность воздуха</span>
        </div>
        <div class="window-param" onclick="openParamSettingsWithLowHigh(this,'Влажность воздуха')">
            <span id = "humidityAirReal" class="text-center">20.5Т</span>
        </div>
        <div class="mode-char">
            <span id = "modeHumidityAir" class="text-center">А</span>
        </div>
    </div>
    <div class="param-setting">
        <div class="name-param">
            <span class="text-center"> Вентилятор с парообразователя</span>
        </div>
        <div class="window-param" onclick="openParamSettingsWithoutModeText(this,'Вентилятор с парообразователя')">
            <span id ="workStatusVentilatorHumidityAirReal" class="text-center">ВКЛ</span>
        </div>
    </div>
    <div class="param-setting">
        <div class="name-param">
            <span class="text-center">Парообразователь</span>
        </div>
        <div class="window-param" onclick="openParamSettingsWithoutModeText(this,'Парообразователь')">
            <span id ="workStatusGeneratorHumidityAirReal" class="text-center">ВКЛ</span>
        </div>
    </div>
    <div class="param-setting">
        <div class="name-param">
            <span class="text-center">Уровень в баке парообразователя</span>
        </div>
        <div class="window-param-no-click">
            <span id = "waterTankLevelHumidityAirReal" class="text-center">100%</span>
        </div>
    </div>
    <div class="param-setting">
        <div class="name-param">
            <span  class="text-center" >Влажность на улице</span>
        </div>
        <div class="window-param-no-click">
            <span id="humidityAirStreetReal" class="text-center">20.5%</span>
        </div>
    </div>
    </aside>
    <aside class="col-side-all-zones">
        <div class="param-setting">
            <div class="name-param">
                <span class="text-center"> Общий уровень света</span>
            </div>
            <div class="window-param" onclick="openParamSettingsForLight(this,'Общий уровень света')">
                <span id = "whiteLightReal" class="text-center">20.0lx</span>
            </div>
            <div class="mode-char">
                <span id = "modeLight" class="text-center">А</span>
            </div>
        </div>

        <div class="param-setting">
            <div class="name-param">
                <span class="text-center">Мощность общего уровня света</span>
            </div>
            <div class="window-param" onclick="openParamSettingsWithoutModeNumber(this,'Мощность общего уровня света')">
                <span id = "whiteLightPowerReal" class="text-center">20.0%</span>
            </div>
        </div>
        <br>
        <div class="param-setting">
            <div class="name-param">
                <span class="text-center">Уровень СО2 в помощении</span>
            </div>
            <div class="window-param" onclick="openParamSettingsForCo2(this,'Уровень CO2')">
                <span id="carbonDioxideReal"  class="text-center">20.0%</span>
            </div>
            <div class="mode-char">
                <span id = "modeCarbonDioxide" class="text-center">А</span>
            </div>
        </div>
        <div class="param-setting">
            <div class="name-param">
                <span class="text-center">Уровень балона CO2</span>
            </div>
            <div class="window-param-no-click">
                <span id="carbonDioxideTankLevelReal" class="text-center">20.0%</span>
            </div>
        </div>
        <div class="param-setting">
            <div class="name-param">
                <span class="text-center">Клапан на подачу CO2</span>
            </div>
            <div class="window-param" onclick="openParamSettingsWithoutModeText(this,'Клапан на подачу CO2')">
                <span id = "workStatusFlapCO2Real"  class="text-center">ВКЛ</span>
            </div>
        </div>
        <div class="param-setting">
            <div class="name-param">
                <span class="text-center">Вентилятор на подачу CO2</span>
            </div>
            <div class="window-param" onclick="openParamSettingsWithoutModeText(this,'Вентилятор на подачу CO2')">
                <span id = "workStatusVentilatorCO2Real"  class="text-center">ВКЛ</span>
            </div>
        </div>
    </aside>
</div>



<script th:inline="javascript" type="text/javascript" th:src="@{jsFiles/objectRedactor.js}"></script>
<script th:inline="javascript" type="text/javascript" th:src="@{jsFiles/getRequests.js}"></script>
<script th:inline="javascript" type="text/javascript" th:src="@{jsFiles/patchRequests.js}"></script>
<script th:inline="javascript" type="text/javascript" th:src="@{jsFiles/updateRealParamInClient.js}"></script>
<script th:inline="javascript" type="text/javascript" th:src="@{jsFilesForUsersSettings/userRequests.js}"></script>
<script th:inline="javascript" type="text/javascript" th:src="@{jsFilesForUsersSettings/showSettingsWindow.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    const roleJson = /*[[${role}]]*/ 'default';
    window.role = roleJson[0].authority;
    /*]]>*/
    switch (window.role){
        case "ROLE_ADMIN":
            addButtonOpenWindowUserSettings();
            addButtonOpenWindowPIDSettings();
            break;
        case "ROLE_WORKER":
            break;
        case "ROLE_USER":
            document.getElementById("updateParamBtn").disabled = true;
            break;
    }

</script>
</body>
</html>